#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export PATH := ~/.multirust/toolchains/stable/bin:$(PATH)
export RUSTC := ~/.multirust/toolchains/stable/bin/rustc

%:
	dh $@

override_dh_auto_configure:
	#curl -sf https://raw.githubusercontent.com/brson/multirust/master/blastoff.sh | sh -s -- --yes
	#multirust update stable && multirust default stable
	#curl -sSf https://static.rust-lang.org/rustup.sh | sh -s -- --channel=stable
	git clone --recursive https://github.com/brson/multirust && cd multirust && git submodule update --init && ./build.sh && ./install.sh --prefix=~/rust && ~/rust/bin/multirust update stable && ~/rust/bin/multirust default 1.12.0

override_dh_auto_install: 
	env RUSTC=$(HOME)/.multirust/toolchains/stable/bin/rustc ~/.multirust/toolchains/stable/bin/cargo build --release --verbose
	
override_dh_auto_test:
	#cargo test --release

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
